body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('../misc/travel-background1.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    grid-template-areas: 
    'header header header'
    'section section section'
    'footer footer footer';
    display: flex;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 10000px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

header h1 {
    font-size: 2rem;
    transition: all 0.3s ease;
    text-shadow: gold 1px 1px;
}

.scrolled {
    padding: 1px;
    text-align: left;

}

.scrolled h1 {
    font-size: 1.5rem;
    margin-left: 20px;
  
}

.hero {
    margin-top: 20%;
}

button {
    background: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

button:hover {
    background: #e68900;
}

.destination-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

.destination-box {
    background: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.destination-box img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.destination-box h3 {
    margin: 15px 0 10px;
    font-size: 20px;
}

.destination-box p {
    font-size: 16px;
}
