/* travels.css */
body {
    margin-top: 10%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    z-index: 1000;
}

header h1 {
    font-size: 2rem;
    transition: all 0.3s ease;
    text-shadow: gold 1px 1px;
}

.scrolled {
    padding: 10px;
    text-align: left;
}

.scrolled h1 {
    font-size: 1.5rem;
    margin-left: 20px;
}

.scrolled p {
    font-size: 0rem;
    margin-left: 0; 
}

.Places-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusted for better responsiveness */
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

.destination-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.destination-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.destination-info {
    max-width: 800px;
    margin-top: 20px;
}

.destination-facts {
    margin-top: 20px;
}

.scrolled a {
    display: none;
}

.nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: yellow;
    text-decoration: none;
    padding: 10px;
}

/* Responsivitet */
.hero {
    margin-top: 20%;
}

.clearertext {
    text-shadow: 3px 2px 3px black;
}

/* Footer */
.footer {
    grid: 'footer';
}

/* Hamburger menu */
.menu-button {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    /* Mobilanpassning */
    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    button {
        display:none;
    }

    .menu.show {
        display: flex;
    }

    .menu-button {
        display: block;
        cursor: pointer;
        font-size: 2rem;
        padding: 10px;
    }

    .fade-layer {
        display: none;
    }

    .fade-layer.visible {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
}